<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/Book">&nbsp; &nbsp; Books</a></li>
        <li class="divider"></li>
        <li><a href="/Genre">&nbsp; &nbsp; Genres</a></li>
        <li class="divider"></li>
        <li><a href="/User">&nbsp; &nbsp; Users</a></li>
        <li class="divider"></li>
        <li><a href="/MembershipType">&nbsp; &nbsp; Memberships</a></li>
        <li class="divider"></li>
    </ul>
</li>

