
<li id="manage-dropdown" class="dropdown" data-admin-menu>
    <a href="#">
        &nbsp; Manage &nbsp; 
    </a>
    <ul id="manage-menu" class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/Book">&nbsp; Manage Books &nbsp;</a></li>
        <li class="divider"></li>
        <li><a href="/Genre">&nbsp; Manage Genres &nbsp;</a></li>
        <li class="divider"></li>
        <li><a href="/MembershipType">&nbsp; Manage Memberships &nbsp;</a></li>
        <li class="divider"></li>
    </ul>
</li>

