@model IndividualButtonPartial

@using BindingBooks.Models


    <div class="btn-group" role="group">
        @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
        {
            Action = "Edit",
            ButtonType = "primary",
            ButtonSize = "xs",
            Icon = "pencil-alt",
            Id = Model.Id
        })
        
        @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
        {
            Action = "Details",
            ButtonType = "success",
            ButtonSize = "xs",
            Icon = "info-circle",
            Id = Model.Id

        })
        
        @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
        {
            Action = "Delete",
            ButtonType = "danger",
            ButtonSize = "xs",
            Icon = "trash-alt",
            Id = Model.Id

        })
        
    </div>
    

