@model BindingBooks.Models.Genre

@{
    ViewBag.Title = "Details";
    
}

<div class="form-horizontal">
    <br/>
    <h2 id="page-title">Genre Details</h2>
    <hr/>
    
    <fieldset disabled="True">
        <div class="row">
            <br/>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Name, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>
        </div>
    </fieldset>
    
</div>

<br/>

<p>
    @Html.Partial("_BackToListButtonPartial")
    @Html.Partial("_EditButtonPartial", Model.Id)
</p>

